.name{
    font-family: 'Lilita One';
    font-size: 50px;
    text-align: center;
}
body{
    background-image: url("image/1674788293_top-fon-com-p-zheltii-fon-prezentatsiya-111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.step-heading{
    font-family: 'Lilita One'; 
    font-size: 50px;
}
.peremoga{
    justify-content: space-between;
    display: flex;
}
.text{
    font-family: 'Lilita One';
    font-size: 50px;
}
.team-ogurchiki-img{
    height: 320px;
    width: 301px;
}
.championship-chalenge{
    height: 300px;
    width: 300px;
}
.MONTHLY-QUALIFIER-image{
    height: 400px;
    width: 400px;
}
.bonus-season{
    height: 300px;width: 300px;
}